<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form.number_field :user_id , value: current_user.id, id: :profiles_user_id, type: :hidden%>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name, required: true %>
  </div>

  <div>
    <%= form.label :address_one, "Address one", style: "display: block; font-weight: bold;" %>
    <%= form.text_field :address_one, required: true %>
  </div>

  <div>
    <%= form.label :address_two, "Address two (Optional)", style: "display: block" %>
    <%= form.text_field :address_two %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city, required: true %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state, required: true %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.number_field :zip, required: true, max:99999 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
