<div id="<%= dom_id profile %>">
  <p>
    <strong>Full name:</strong>
    <%= profile.full_name %>
  </p>

  <p>
    <strong>Address one:</strong>
    <%= profile.address_one %>
  </p>

  <p>
    <strong>Address two:</strong>
    <%= profile.address_two %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= profile.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= profile.zip %>
  </p>

</div>
