<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Addressone:</strong>
    <%= profile.addressOne %>
  </p>

  <p>
    <strong>Addresstwo:</strong>
    <%= profile.addressTwo %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= profile.zipcode %>
  </p>

  <p>
    <strong>State:</strong>
    <%= profile.state %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= profile.fullName %>
  </p>

</div>
