<div id="<%= dom_id client %>">
  <p>
    <strong>Clientname:</strong>
    <%= client.clientName %>
  </p>

  <p>
    <strong>Ordersplaced:</strong>
    <%= client.ordersPlaced %>
  </p>

  <p>
    <strong>Newcustomer:</strong>
    <%= client.newCustomer %>
  </p>

  <p>
    <strong>Datejoined:</strong>
    <%= client.dateJoined %>
  </p>

</div>
