<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= form.number_field :user_id , value: current_user.id, id: :orders_user_id, type: :hidden%>
  

  <div>
    Gallons Requested <br/>
    <%= form.text_field :gallonsRequested %>
  </div>
  <br/>
  <div>
    Profit Margin <br/>
    <%= form.text_field :profitMargin %>
  </div>
  <br/>
  <div>
    <p class = "alert">If billing address and shipping address are different, edit below.</p>
  </div>


  <div>
    Delivery Address <br/>
    <%= form.text_field :deliveryAddress, value: current_user.profile.address_one %>
  </div>
  <br/>
  <div>
    City <br/>
    <%= form.text_field :city, value: current_user.profile.city %>
  </div>
  <br/>
  <div>
    State <br/>
    <%= form.text_field :state, value: current_user.profile.state %>
  </div>
  <br/>
  <div>
    ZIP Code <br/>
    <%= form.number_field :zip, value: current_user.profile.zip %>
  </div>
  <br/>
  <div>
    Delivery Date <br/>
    <%= form.date_field :deliveryDate %>
  </div>
  <br/>
 
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
