
<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :company_name, style: "display: block" %>
    <%= form.text_field :company_name, required: true %>
  </div>

  <div>
    <%= form.label :InState, style: "display: block" %>
    <%= form.check_box :InState%>
  </div>
  <div>
    <%= form.label :Date, "Date", style: "display: block"%>
    <%= form.date_field :OrderDate, min: 0.days.ago, required: true %>

  </div>

  <div>
    <%= form.label :Profit_Margin, style: "display: block" %>
    <%= form.text_field :Profit_Margin , required: true %>
  </div>

  <div>
    <%= form.label :Gallon_Rqst, style: "display: block" %>
    <%= form.text_field :Gallon_Rqst, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
