<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
    
  <%= form.number_field :user_id, value: current_user.id, id: :orders_user_id, type: :hidden %>
  

  <div>
    Gallons Requested <br/>
    <%= form.text_field :gallonsRequested %>
  </div>

  
    
    <%= form.date_field :dateOrdered, value: DateTime.now, type: :hidden%>
    <%= form.text_field :profitMargin, value: rand().round(2), type: :hidden %>
  

  <div>
    Delivery Date <br/>
    <%= form.date_field :deliveryDate %>
  </div>
<br/>
  <div>
    Delivery Address <br/>
    <%= form.text_field :deliveryAddress%>
  </div>
  
  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.number_field :zip %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
