<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :gallonsRequested, style: "display: block" %>
    <%= form.text_field :gallonsRequested %>
  </div>

  <div>
    <%= form.label :dateOrdered, style: "display: block" %>
    <%= form.date_field :dateOrdered %>
  </div>

  <div>
    <%= form.label :deliveryDate, style: "display: block" %>
    <%= form.date_field :deliveryDate %>
  </div>

  <div>
    <%= form.label :deliveryAddress, style: "display: block" %>
    <%= form.text_field :deliveryAddress %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.number_field :zip %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
