<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
    
  <%= form.number_field :user_id, value: current_user.id, id: :orders_user_id, type: :hidden %>

  <div>
    Gallons Requested <br/>
    <%= form.text_field :gallonsRequested %>
  </div>

  
    
  <%= form.date_field :dateOrdered, value: DateTime.now, type: :hidden%>
  

  <div>
    Delivery Date <br/>
    <%= form.date_field :deliveryDate %>
  </div>
<br/>
  <div>
    Delivery Address <br/>
    <%= form.text_field :deliveryAddress, value: current_user.profile.addressOne, :readonly => true%>
  </div>
  
  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city, value: current_user.profile.city, :readonly => true%>
  </div>
  <% @states = Order.state %>
  <div>
  <%= form.label :State, style: "display: block" %>
  <%= form.text_field :state, value: current_user.profile.state, :readonly => true%>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.text_field :zip, value: current_user.profile.zipcode, :readonly => true%>
  </div>
  
  <button id="getQuoteButton" type="submit">Get Quote</button>

  <div id="quoteResult"></div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
