<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :company_name, style: "display: block" %>
    <%= form.text_field :company_name %>
  </div>

  <div>
    <%= form.label :orderNumber, style: "display: block" %>
    <%= form.number_field :orderNumber %>
  </div>

  <div>
    <%= form.label :InState, style: "display: block" %>
    <%= form.check_box :InState %>
  </div>

  <div>
    <%= form.label :Profit_Margin, style: "display: block" %>
    <%= form.text_field :Profit_Margin %>
  </div>

  <div>
    <%= form.label :Gallon_Rqst, style: "display: block" %>
    <%= form.text_field :Gallon_Rqst %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
