
  <div id="<%= dom_id order %>">
    <p>
      <strong>Company name:</strong>
      <%= order.company_name %>
    </p>

    <p>
      <strong>Ordernumber:</strong>
      <%= order.id %>
    </p>

    <p>
      <strong>Instate:</strong>
      <%= order.InState %>
    </p>

    <p>
      <strong>Order Date:</strong>
      <%= order.OrderDate %>
    </p>
    <p>
      <strong>Profit margin:</strong>
      <%= order.Profit_Margin %>
    </p>

    <p>
      <strong>Gallon rqst:</strong>
      <%= order.Gallon_Rqst %>
    </p>

  </div>
