<p style="color: white"><%= notice %></p>
<head>
    <%= stylesheet_link_tag 'neworder' %>
</head>
<body>
  <div class="order-form-container">
    <h1>Orders</h1>

    <table class = "table">
      <thead>
        <th scope="col">Price (in Thousands)</th>
        <th scope="col">Gallons Requested</th>
        <th scope="col">Profit Margin</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Delivery Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">ZIP Code</th>
        <th scope="col">In State</th>
        <th scope="col">Edit order</th>
      </thead>
      
      <tbody>
        <% @orders.each do |order| %>
        <% if current_user.id == order.user_id %>
          <tr>
            <th scope="row">$<%=(rand()+ rand(30)).round(2)%></th>
            <td><%= order.gallonsRequested =%></td>
            <td><%= order.profitMargin =%></td>
            <td><%= order.deliveryDate=%></td>
            <td><%= order.deliveryAddress=%></td>
            <td><%= order.city=%></td>
            <td><%= order.state=%></td>
            <td><%= order.zip=%></td>
            <td><% if order.In_State %> True <%else%> False <%end%></td>
            <td><%= link_to "Edit order", edit_order_path(order) %></td>
          </tr>  
        <% end %>
        <% end %>

    <%= button_to "New order", new_order_path, method: :get%>
  </div>
</body>

