<p style="color: green"><%= notice %></p>
<head>
    <%= stylesheet_link_tag 'neworder'%>

<div class="order-form-container">
  <h1> Orders </h1>
  <table class = "table">
    <thead>
      <th scope="col">Price per Gallon</th>
      <th scope="col">Gallon(s) Requested</th>
      <th scope="col">Total Amount Due</th>
      <th scope="col">Order Date </th>
      <th scope="col">Delivery Date</th>
      <th scope="col">Delivery Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip Code</th>
      <th scope="col">ID</th>
      <th scope="col">Edit</th>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <% if current_user.id == order.user_id %>
      <tr>
        <th scope="row">$<%= order.calculate_price_per_gallon %></th>
        <td><%=order.gallonsRequested =%></td>
        <td><%=order.calculate_total_amount_due=%></td>
        <td><%=order.dateOrdered=%></td>
        <td><%=order.deliveryDate=%></td>
        <td><%=order.deliveryAddress=%></td>
        <td><%=order.city=%></td>
        <td><%=order.state=%></td>
        <td><%=order.zip=%></td>
        <td><%=order.id=%></td>
        <td><%=link_to "Edit Order", edit_order_path(order)=%></td>
        
        
      </tr>
      <%end%>
      <%end%>
</div>

<%= link_to "New order", new_order_path %>
